<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book.id), method: :delete do %>
    <p class="text-danger">♥<%= book.favorite.count %></p>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book.id), method: :post do %>
    <p class="text-primary">♥<%= book.favorite.count %></p>
  <% end %>
<% end %>